<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiki.zongyue.mapper.BookshelfMapper">
  <resultMap id="BaseResultMap" type="com.shiki.zongyue.pojo.Bookshelf">
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <id column="fiction_id" jdbcType="INTEGER" property="fiction_id" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapter_id" />
    <result column="user_last_read_time" jdbcType="TIMESTAMP" property="user_last_read_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, fiction_id, chapter_id, user_last_read_time
  </sql>
  <select id="selectByExample" parameterType="com.shiki.zongyue.pojo.BookshelfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from bookshelf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.shiki.zongyue.pojo.BookshelfKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookshelf
    where user_id = #{user_id,jdbcType=INTEGER}
      and fiction_id = #{fiction_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.shiki.zongyue.pojo.BookshelfKey">
    delete from bookshelf
    where user_id = #{user_id,jdbcType=INTEGER}
      and fiction_id = #{fiction_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shiki.zongyue.pojo.Bookshelf">
    insert into bookshelf (user_id, fiction_id, chapter_id, 
      user_last_read_time)
    values (#{user_id,jdbcType=INTEGER}, #{fiction_id,jdbcType=INTEGER}, #{chapter_id,jdbcType=INTEGER}, 
      #{user_last_read_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shiki.zongyue.pojo.Bookshelf">
    insert into bookshelf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="fiction_id != null">
        fiction_id,
      </if>
      <if test="chapter_id != null">
        chapter_id,
      </if>
      <if test="user_last_read_time != null">
        user_last_read_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="fiction_id != null">
        #{fiction_id,jdbcType=INTEGER},
      </if>
      <if test="chapter_id != null">
        #{chapter_id,jdbcType=INTEGER},
      </if>
      <if test="user_last_read_time != null">
        #{user_last_read_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiki.zongyue.pojo.Bookshelf">
    update bookshelf
    <set>
      <if test="chapter_id != null">
        chapter_id = #{chapter_id,jdbcType=INTEGER},
      </if>
      <if test="user_last_read_time != null">
        user_last_read_time = #{user_last_read_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
      and fiction_id = #{fiction_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiki.zongyue.pojo.Bookshelf">
    update bookshelf
    set chapter_id = #{chapter_id,jdbcType=INTEGER},
      user_last_read_time = #{user_last_read_time,jdbcType=TIMESTAMP}
    where user_id = #{user_id,jdbcType=INTEGER}
      and fiction_id = #{fiction_id,jdbcType=INTEGER}
  </update>
</mapper>